<%- include('partial/navbar.ejs') %>
<div class="bg-binar"style="margin-left: 250px; padding-left: 50px;">
    <nav style="
              --bs-breadcrumb-divider: url(
                &#34;data:image/svg + xml,
                %3Csvgxmlns='http://www.w3.org/2000/svg'width='8'height='8'%3E%3Cpathd='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z'fill='currentColor'/%3E%3C/svg%3E&#34;
              );
            " aria-label="breadcrumb">
                <ol class="breadcrumb mt-4 ">
                    <li class="breadcrumb-item"><a href="index.html">Cars</a></li>
                    <li class="breadcrumb-item active" aria-current="page">List Car</li>
                </ol>
   </nav>
        <div class="add d-flex justify-content-between mb-3 "style ="width : 100%;">
                <h5 class="textList mb-0 fw-bold fs-4 ">Add New Car</h5>
                
              </div>
  
              <form action="/mobil/tambah" method="post" enctype="multipart/form-data">
                
                <div class="mb-3 row">
                  <label  class="col-sm-2 col-form-label">Name :</label>
                  <div class="col-5 ">
                    <input type="text" class="form-control" id="name" name="name" required>
                  </div>
                </div>
                <div class="mb-3 row">
                  <label  class="col-sm-2 col-form-label">Harga :</label>
                  <div class="col-5 ">
                    <input type="text" class="form-control" id="price" name="price" required>
                  </div>
                </div>
                <div class="mb-3 row">
                  <label  class="col-sm-2 col-form-label">Category :</label>
                  <div class="col-5 ">
                    <input type="text" class="form-control" id="category" name="category" required>
                  </div>
                </div>
              
                <div class="mb-3 row">
                  <label  class="col-sm-2 col-form-label">Type Gambar :</label>
                <div class="col-5">
                  <select class="form-select" aria-label="Default select example" 
                  name="uploadType" id="uploadType" required>
                    <option selected>Open this select menu</option>
                    <option value="file">Upload File</option>
                    <option value="url">Masukan URL Gambar</option>
                  </select>
                </div>
                </div>
              
                <div class="mb-3 row" id="fileInput" style="display: none;">
                  <div class="col-5">
                  <label for="formFile" class="form-label">Default file input example</label>
                  <input class="form-control" type="file" name="images" id="images">
                </div>
                </div>
              
                <div class="mb-3 row"  id="urlInput" style="display: none;">
                  <label  class="col-sm-2 col-form-label">URL Gambar :</label>
                  <div class="col-5 ">
                    <input type="text" class="form-control" name="imageUrl" id="imageUrl">
                  </div>
                </div>
                
                <button type="submit" class="btn btn-outline-primary">Secondary</button>
              </form>
              
  
  <script>
    document.getElementById('uploadType').addEventListener('change', function () {
      const selectedOption = this.value;
      const fileInput = document.getElementById('fileInput');
      const urlInput = document.getElementById('urlInput');
  
      if (selectedOption === 'file') {
        fileInput.style.display = 'block';
        urlInput.style.display = 'none';
      } else if (selectedOption === 'url') {
        fileInput.style.display = 'none';
        urlInput.style.display = 'block'; // Perhatikan bahwa ini harus 'display', tidak 'display'
      }
    });
  </script>
  
</body>

</html>
